
.flexActivity {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: fit-content;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
}

.highlightedItem {
  padding: 3px;
  border: 2px solid red;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.unhighlightedItem {
  padding: 4px;
  border: 1px solid rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.activityItem {
  margin: 0 5px;
  width: 200px;
  color: rgba(0, 0, 0, 0.75);
  // text-align: left;
  border-radius: 5px;
}

.largeActivity {
  width: 200px;
}

.smallActivity {
  width: 130px;
}


.relayedItem {
  background: yellow;
}
.requestedItem {
  background: white;
}
.acquiredItem {
  background: rgba(139, 182, 226, 0.285);
}
.processedItem {
  background: rgba(199, 132, 132, 0.122);
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

