.countdown {
  margin: 4px;
  background-color: rgb(247, 247, 237);
}

.countdown h1 {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.countdown_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown_item {
  color: purple;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 20px;
  margin-right: 10px;
  margin-left: 4px;
  padding: 4px;
  position: relative;
  width: 50px;
  height: 50px;
}

.countdown_item span {
  color: #333;
  font-size: xx-small;
  font-weight: 600;
  text-transform: uppercase;
}
