
.popular p {
  font-weight: lighter;
}

.popular h2 {
  font-weight: lighter;
}

.popular-labs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50% 50%;
  justify-content: space-around;
  background-color: rgba(253, 253, 253, 1);
  margin-bottom: 10px;
}

.popular-labs .card.top {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

.popular-labs .card.next {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}

.popular-labs h3 {
  color: rgba(55, 182, 134, 1);
  margin-bottom: 15px;
}

.popular-labs p {
  color: rgba(0, 0, 0, 0.5);
}
