@use '../styles/variables';

.sortableHeader {
  cursor: pointer;

  &:hover {
    background-color: var(--bulma-highlight-background-color);
  }

  .control {
    display: flex;
    align-items: center;
    height: 24px;

    .columnName {
      display: block;
      flex: 1 1 auto;
    }
    .arrowItem {
      display: block;
      flex: 1 1 auto;
      font-size: xx-small;
    }
    .arrowContainer {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
  }
}