.tableLayout {
  table-layout: fixed;
  border-spacing: 0;
}

.tableLayout thead tr {
  border-bottom-width: 2px;
}

.tableLayout tbody tr {
  border-bottom-width: 1px;
}

.tableLayout td {
  padding: 4px;
}

.tableLayout td,
.tableLayout th {
  vertical-align: middle;
  text-align: left;
}

.selectorColumn {
  width: 26px !important;
}

.selectorColumn input[type="checkbox"] {
  display: block;
  margin: 0 auto;
}

th.editCellPlaceholder,
td.editCellPlaceholder,
th.editCell,
td.editCell {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

th.editCellPlaceholder input[type="checkbox"],
td.editCellPlaceholder input[type="checkbox"],
th.editCell input[type="checkbox"],
td.editCell input[type="checkbox"] {
  margin: 0 auto;
  display: block;
}

.editButtonCell {
  text-align: right;
  user-select: none;
}

.editFooter {
  margin-top: 10px;
  padding: 10px;
  /* background: #f7f7f7; */
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.editFooter span {
  font-weight: 600;
  margin-right: 1rem;
}

.selectorContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 3px;
  gap: 1px;
}

.selectedCount {
  display: inline-block;
  width: 14px;
  text-align: left;
  font-size: 0.7rem;
  font-weight: 600;
  user-select: none;
}

.rowSelect {
  cursor: pointer;
}

/* .rowSelect:hover {
  background-color: beige;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(1);
    opacity: 75%;
  }
} */

/* Responsive table collapse */
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  table,
  thead,
  tbody,
  th,
  td {
    display: block;
  }

  thead tr {
    display: flex;
  }

  tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 1rem 0;
  }

  th.editCell {
    display: none;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td.editCell {
    align-self: flex-end;
  }

  td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
